.header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  padding: 10px 20px;
  background-color: #f2f2f23d;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  &__app-title {
    font-weight: 600;
  }

  &__currency-rates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__span {
      display: block;
      font-size: 18px;

      &:first-child {
        color: #007bff;
      }

      &:last-child {
        color: #ff9800;
      }
    }
  }

  @media screen and (max-width: 678px) {
    flex-direction: column;
    gap: 5px;

    &__currency-rates {
      flex-direction: column;
      gap: 5px;
    }
  }
}
