html {
  box-sizing: border-box;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.test {
  margin: 0;
}
